/* Links of fonts (Work Sans) */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --heading: rgb(0, 10, 45);
  --para: #777;
  --para-tint: #e4e4e4;
  --white: #fff;
  --black: #212529;
  --helper: #8490ff;
  --helper-tint: #f3f4ff;
  --bg: rgb(249, 249, 255);
  --gradient: linear-gradient(
    0deg,
    rgb(132, 144, 255) 0%,
    rgb(98, 189, 252) 100%
  );
  --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
}

/* html {
  font-size: 62.5;
} */

h1 {
  color: var(--heading);
  font-size: 6rem;
  font-weight: 600;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

p {
  color: var(--para);
  line-height: 1.6;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Header  Start */

.header {
  padding: 0 5rem;
  height: 3rem;
  background-color: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header .logo {
  height: 5rem;
}

.navbar-lists {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  gap: 4rem;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  transition: 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
  color: var(--helper);
}
/* Header End */

/* Main Start */
/* Resuable code */
.section {
  padding: 5rem 7rem;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9rem;
}

.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: 1fr 1fr; */
}



.section-hero{
  background-color: var(--bg);
}

.section-hero-data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */

}

.hero-top-data{
text-transform: uppercase;
font-weight: 500;
font-size: 1.5rem;
color: var(--helper);
}

.hero-heading{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 6.4rem;
}

.hero-para{
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  max-width: 60rem;
}

.hero-img {
  width: 450px;
}



/* Main End */
